@import '../../App.scss';

.Header {
    padding: 0px 30px;
    background: url(../../assets/Header.png) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 800px;
    .Header_main {
        padding: 100px 0px;
        display: flex;
        justify-content: space-between;
        .Header_content1 {
            width: 525px;
            >h1 {
                font-size: 43px;
                margin-bottom: 29px;
                @media (max-width: 1000px) {
                    font-size: 33px;
                }
            }
            >p {
                &:first-of-type {
                font-size: 22px;
                color: $textColor;
                margin-bottom: 23px;
                @media (max-width: 1000px) {
                    font-size: 18px;
                }
            }}
            >button {
                width: 201px;
                height: 58px;
                background: #000;
                color: white;
                &:hover {
                    transition: 0.5s;
                    background: #778899;
                }
            }
            >p {
                &:nth-of-type(2) {
                font-size: 22px;
                color: $textColor;
                position: absolute;
                bottom: 30px;
                z-index: 8;
            }}
        }
        .Header_content2 {
            >img {
                position: relative;
                @media (max-width: 520px) {
                    right: 40px;
                }
            }
        }
    }
}